{% extends 'layout.html' %}
{% block content %}
    <div class="rr-container">
        <form method="post", action="">
            {{ form.hidden_tag() }}
            <fieldset class="rr-fst">
                <legend class="rr-legend">RESET PASSWORD</legend>
                
                <div>
                    {{ form.email.label(class='rr-emll-lbl') }}
                    {% if form.email.errors %}
                        {{ form.email(class='rr-emll-error', placeholder='example@email.com') }}
                        {% for error in form.email.errors %}
                            <span class="rr-the-emll-error">{{ error }}</span>
                        {% endfor %}
                    {% else %}
                        {{ form.email(class='rr-emll', placeholder='example@email.com') }}
                    {% endif %}
                </div>
            </fieldset>
            <div>
                {{ form.submit(class='rr-subbb') }}
            </div>
        </form>
        
    </div>
{% endblock content %}