@media (max-width:768px) {

    body {
        margin: 0;
    }

    .rr-container {
        margin-top: 80px;
        border: none;
        font-family: roboto;
        background-color: white;
        padding-bottom: 50px;
    }

    .rr-fst {
        border: none;
    }

    .rr-legend {
        text-align: center;
        font-size:30px;
        font-weight: bold;
        color: goldenrod;
        padding-top: 15px;
    }

    .rr-emll-lbl {
        display: block;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    .rr-emll {
        display: block;
        height: 30px;
        width: 98%;
        max-width: 98%;
        font-family: roboto;
        border: 1px solid darkgray;
    }


    .rr-subbb {
        margin-top: 10px;
        margin-left: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 15px;
        padding-right: 15px;
        border-radius: 5px;
        border: none;
        color: white;
        background-color: goldenrod;
        font-family: roboto, sans-serif;
    }

    .rr-subbb:active {
        background-color: white;
        color: goldenrod;
    }



    

    .rr-the-emll-error {
        color: red;
        display: block;
    }

    .rr-emll-error {
        display: block;
        border: 1px solid red;
        height: 30px;
        width: 98%;
        max-width: 98%;
    }
}

@media (min-width:789px) {
    body {
        margin: 0;
    }

    .rr-container {
        margin-top: 80px;
        border: 1px solid goldenrod;
        width: 55%;
        margin-left: 240px;
        font-family: roboto, sans-serif;
        padding: 30px;
    }

    .rr-fst {
        border: none;
        padding-top: 50px;
    }

    .rr-legend {
        text-align: center;
        font-weight: bold;
        font-size: 25px;
        color: goldenrod;
    }

    .rr-emll-lbl {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
        color: goldenrod;
    }

    .rr-emll-error {
        border: 1px solid red;
        height: 35px;
        width: 90%;
    }

    .rr-the-emll-error {
        display: block;
        color: red;
        font-size: 13px;
        font-family: 'Times New Roman', Times, serif;
    }

    .rr-emll {
        display: block;
        height: 35px;
        width: 90%;
        margin-bottom: 5px;
        border: 1px solid gray;
    }

    .rr-subbb {
        border: none;
        background-color: goldenrod;
        color: white;
        font-family: roboto, sans-serif;
        padding: 7px 6px;
        border-radius: 4px;
        margin-left: 15px;
        cursor: pointer;

    }

    .rr-subbb:hover {
        color: goldenrod;
        background-color: white;
        border: 1px solid goldenrod;
    }

    .rr-subbb:active {
        background-color: goldenrod;
        color: white;
    }

    
}